
  <div id="scene">
    <img class="cloud sml" src="http://www.dwuser.com/education/content/creating-keyframe-animations-with-css3/images/cloud_sml.png" width="70" height="36"/>
    <img class="cloud med" src="http://www.dwuser.com/education/content/creating-keyframe-animations-with-css3/images/cloud_med.png" width="100" height="52"/>
    <img class="cloud lrg" src="http://www.dwuser.com/education/content/creating-keyframe-animations-with-css3/images/cloud_lrg.png" width="130" height="67"/>
  </div>





<h3> you searched:
<%= @user %>
</h3> 
<h4> you're near <%= @gardens.size %> gardens. that's abuncha gardens </h4> 

<h1> and <%= @parks.size %> parks: </h1>
<ol>
	<% @parks.each do |park| %>
	<li><%=park.park%></li>: <%= park.address %>
	<% end %>
</ol>

<h1> and there are <%= @wifi.size %> wifi hotspots near you. fuck yea! </h1>
<ol>
	<% @wifi.each do |wifi| %>
	<li><%="#{wifi.name}, ssid: #{wifi.ssid}, #{wifi.provider}, #{wifi.wifi_type}"%></li>
	<% end %>
</ol>

<script>
function initialize() {
	var bounds = new google.maps.LatLngBounds();
	var myCenter = new google.maps.LatLng(<%=@lat_lng["lat"]%>, <%=@lat_lng["lng"]%>);

  	var mapProp = {
    	center:myCenter,
    	zoom:15,
    	mapTypeId:google.maps.MapTypeId.ROADMAP
  	};

 	var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);


	var marker = new google.maps.Marker({
  		position: myCenter,
  		map: map
  	});


	<%@parks.each_with_index do |park, index| %>
		var marker=new google.maps.Marker({

  			position:{lat:<%=park.latitude%>, lng: <%=park.longitude%>},
  			icon: 'http://google.com/mapfiles/ms/micons/green-dot.png',
  			map: map
  			// label: "<%=index+1%>"
  			// animation:google.maps.Animation.BOUNCE
 		 });
	<% end %>

	<%@gardens.each_with_index do |garden, index| %>
	<% if garden.latitude %>
		var marker=new google.maps.Marker({

  			position:{lat:<%=garden.latitude%>, lng: <%=garden.longitude%>},
  			icon: 'http://google.com/mapfiles/ms/micons/blue-dot.png',
  			map: map
  			// label: "<%=index+1%>"
  			// animation:google.maps.Animation.BOUNCE
 		 });
	<% end %>
	<% end %>

	<% @wifi.each do |wifi| %>
	var marker=new google.maps.Marker({
		<% if wifi.latitude %>
  			position:{lat:<%=wifi.latitude%>, lng: <%=wifi.longitude%>},
  			icon: 'http://google.com/mapfiles/ms/micons/green-dot.png',
  			map: map
  			// animation:google.maps.Animation.BOUNCE
 		 });
	<% end %>
	<% end %>
	}

google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div class="center" id="googleMap" style="width:700px;height:380px;align:center"></div>
