
<style media="screen">
	body { 
	background: url(<%=image_path('nyc_background_img1920x1080_58933.jpg')%>) no-repeat center center fixed;
	/*background: url(<%=image_path('nyc.png')%>) no-repeat center center fixed; */*/
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	}
</style>


<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-innder">
      <a class="navbar-brand" href="http://localhost:3000/">ParksNearMe.nyc</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://localhost:3000/home?utf8=%E2%9C%93&radius=&search=&commit=Search">All</a></li>
        <li><a href="http://localhost:3000/">Parks</a></li>
        <li><a href="http://localhost:3000/">Gardens</a></li>
        <li><a href="http://localhost:3000/">Wifi</a></li>
        <li><a href="http://localhost:3000/">Restrooms</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="form-group">
<%= form_tag('/home', method: "get") do %> 	
	<div class="form-group" id="form-text">	

	<%= label_tag(:distance, 'Radius:') %>
	<%= number_field_tag :radius, params[:radius], :class=>'form-control', placeholder: "Miles" %>
	</div>
	<div class="form-group" id="form-text">	
	<%= label_tag(:address, 'Address:') %>
	<%= text_field_tag :search, params[:search], :class=>'form-control', placeholder: "Leave blank for your location" %>
	</div>

	<%= submit_tag "Search", :class => 'button-link' %>
	<% end %> 
</div>
