<!DOCTYPE html>
<html>
<head>
  <title>TreeApt</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>

  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeYMW65wwWGIWgu27xFBWatXoPbXYM3qc&callback=initMap">
    </script>


</head>
<body>

<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-innder">
      <a class="navbar-brand" href="http://localhost:3000/">ParksNearMe.nyc</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://localhost:3000/home?utf8=%E2%9C%93&radius=&search=&commit=Search">All</a></li>
        <li><a href="http://localhost:3000/">Parks</a></li>
        <li><a href="http://localhost:3000/">Gardens</a></li>
        <li><a href="http://localhost:3000/">Wifi</a></li>
        <li><a href="http://localhost:3000/">Restrooms</a></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>